@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ToDos</h1>
    <form asp-controller="ToDo" asp-action="Save" method="post" id="todoForm" class="form-group">
        <label for="titleText">Enter a title</label>
        <input type="text" id="titleText" name="titleText" />

        <label for="descriptionText">Enter a description</label>
        <input type="text" id="descriptionText" name="descriptionText" />
        
        <button type="submit">Add ToDo</button>        
    </form>

    <ul id="todoList">        
            @if (Model != null)
            {
                @foreach (var note in Model)
                {
                    <li>
                        <div style="display: inline-block;">
                            @note.Title - @note.Description
                        </div>
                        <div style="display: inline-block;">
                            <form asp-controller="ToDo" asp-action="Delete" method="post">
                                <input type="hidden" name="id" value="@note.Id" />
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </li>
                }
            }        
    </ul>
</div>
