@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ToDos</h1>
    <form method="post" class="form-group">
        <label for="titleText">Enter a title</label>
        <input type="text" id="titleText" name="titleText" />

        <label for="descriptionText">Enter a description</label>
        <input type="text" id="descriptionText" name="descriptionText" />
        
        <button type="submit">Add ToDo</button>        
    </form>
</div>
